/* Code-format element styles */

.code {
    font-family: monospace;
    color: white
}

.code::after {
    content: '.';
    background-color: white;
    height: 100%;
    width: 5px;
    margin-left: 10px;
    animation-name: cursor-animation;
    animation-duration: .75s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite
}

@keyframes cursor-animation {
    from { opacity: 1 }
    to { opacity: 0 }
}