/* Styles for the "code" HTML tag */

code {
    background-color: #0003;
    font-family: monospace;
    color: black;
    display: block;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    margin: 16px 0
}




@media screen and (max-width: 650px) {
    code { font-size: 15px }
}