/* Inline-code class styles */

.inline-code {
    background-color: #0003;
    font-family: monospace;
    color: black;
    border-radius: 5px;
    padding: 4px 6px;
    font-weight: bold;
}




@media screen and (max-width: 650px) {
    .inline-code { padding: 2px 4px; font-size: 12px }
}